<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidadores</title>
</head>
<body>
    <h1>Estas son los cuidadores</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cuidador in cuidadores%}
            <tr>
                <td>{{cuidador.id}}</td>
                <td>{{cuidador.nombre}}</td>
                <td>{{cuidador.telefono}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>